<div class="main">

    <div class="suport-box">
        <h2>TERMOS DE USO E PRIVACIDADE DO SITE - HEALTH TRAINING</h2>

        <h3>Bem-vindo ao nosso site!</h3>
        <p>Antes de prosseguir, pedimos que leia atentamente os termos de uso abaixo, que regem o uso da nossa plataforma de aprendizado na área de saúde.</p>

        <h3>1. ACEITAÇÃO DOS TERMOS</h3>
        <p>Ao acessar ou utilizar nosso site, você concorda em cumprir e ficar vinculado a estes termos de uso. Se não concordar com algum aspecto destes termos, por favor, não continue utilizando nossos serviços.</p>

        <h3>2. CADASTRO E CONTA</h3>
        <p>Para utilizar plenamente nossa plataforma, é necessário criar uma conta. Ao cadastrar-se, você concorda em fornecer informações precisas e atualizadas. Você é responsável por manter a confidencialidade de sua senha e conta. Caso detecte atividades não autorizadas, notifique-nos imediatamente.</p>

        <h3>3. RESPONSABILIDADE DO USUÁRIO</h3>
        <p>Você é responsável por todas as atividades realizadas através de sua conta. Não é permitido o uso indevido, fraudulento ou ilegal dos serviços. O não cumprimento destes termos pode resultar em restrição ou encerramento da conta.</p>

        <h3>4. POLÍTICA DE PRIVACIDADE</h3>
        <p>A Plataforma coleta dados pessoais dos usuários de diversas maneiras, incluindo:</p>
        <p>Dados fornecidos pelo usuário: Ao se cadastrar na Plataforma, o usuário fornece informações como nome, e-mail, senha, número de telefone, entre outros.</p>
        <p>Dados de uso da Plataforma: A Plataforma coleta dados sobre como o usuário utiliza a Plataforma, como jogos realizados e histórico de ações.</p>
        <p>Dados de dispositivos: A Plataforma coleta dados sobre o dispositivo utilizado pelo usuário para acessar a Plataforma, como endereço IP, tipo de dispositivo e sistema operacional.</p>

    
        <h3>5. ALTERAÇÕES NA POLÍTICA DE PRIVACIDADE</h3>
        <p>A Plataforma se reserva o direito de modificar esta Política de Privacidade a qualquer momento. As alterações entrarão em vigor no momento da sua publicação na Plataforma.</p>

        <h3>6. ALTERAÇÕES NOS TERMOS</h3>
        <p>Reservamo-nos o direito de modificar estes termos a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação no site. Recomendamos verificar periodicamente os termos para estar ciente de quaisquer atualizações.</p>

        <p>Ao continuar a utilizar nosso site, você concorda com os termos de uso descritos acima. Se tiver dúvidas ou preocupações, entre em contato conosco através da página de suporte.</p>
    </div>
</div>