<div class="main">
  <form id="login-form">
    <h2>Alterar Senha</h2>
    <label for="email">Email:</label> 
    <input [formControl]="email" type="text" id="email" name="email">

    <label>Código de Confirmação:</label>
    <div id="codigo_confimacao_div">
      <input [formControl]="codigoDeRecuperacao" type="text" id="codigo_confirmacao" maxlength="8" name="codigo_confirmacao">
      <label (click)="gerarCodigo()" id="enviar_codigo" class="enviar-codigo-label">Enviar código</label>
    </div>
    
    <br>
    <label for="senha">Nova Senha:</label>
    <input [formControl]="senha" type="password" id="senha" name="senha">

    <label for="senha_confirmada">Confirmar Senha:</label>
    <input [formControl]="confirmacaoDaSenha" type="password" id="senha_confirmada" name="senha_confirmada">
    
    <br>
    <button (click)="recuperarSenha()" class="submit" type="submit">Alterar Senha</button>
    <br>
  </form>
</div>
