<div id="feedback" class="feedback hidden"></div>
<div class="background-troca">
  <header>
    <div id="conteudo-header">
      <div id="logo-nav-div">
        <div class="div-logo">
          <a href="/">
            <img class="logo_imagem" src="assets/logo.png" alt="Health Training Logo">
          </a>
          <a href="/" id="logo_a">
            <label id="bytemax">Health</label>
            <label id="exchange">Training</label>
          </a>
        </div>

        <div class="nav">
          <a href="/">Home</a>
          <a href="/support">Suporte</a>
          <a href="/about-us">Sobre</a>
          <a href="/game/game/list">Lista de jogos</a>
        </div>
      </div>
      <!-- @if(!logado){ -->
      <div class="login_e_cadastro">
        <a href="/account/sign-in">Entrar</a>
        <a href="/account/sign-up">Registrar</a>
      </div>
      <!-- } @else if (logado){ -->
      <div class="menu-perfil">
        <div class="dropdown">
          <label id="minha-conta">Minha Conta ▼</label>
          <div class="dropdown-content">
            <a href="/game/game-list">Meus Jogos</a>
            <a href="/game/my-account">Minha conta</a>
            <a (click)="sair()" id="botao_sair">Sair</a>
          </div>
        </div>
      </div>
      <!-- } -->
      <button (click)="alternarMenu()" class="nav_button">☰</button>
    </div>

  </header>

  <!-- Adicione o elemento do menu que cobre a tela -->
  <!-- @if (menu){
  <div class="menu-overlay" id="menuOverlay">
    <div class="menu-content">
      <div class="links-menu">
        <label>Health Training</label>
        <a href="/">Jogar</a>
        <a href="/support">Suporte</a>
        <a href="/about-us">Sobre</a>
      </div>
      @if(!logado){
      <div class="entrar-cadastrar-menu">
        <label>Conta</label>
        <a href="/account/sign-in">Entrar</a>
        <a href="/account/sign-up">Registrar</a>
      </div>
      } @else if (logado){
      <div class="entrar-cadastrar-menu">
        <label>Conta</label>
        <a href="/ordens">Ordens</a>
        <a href="/configuracoes">Configurações</a>
        <a (click)="sair()" id="botao_sair_menu">Sair</a>
      </div>
      }
    </div>
  </div>
  } -->

  <div class="div-troca">
    <router-outlet></router-outlet>
  </div>

</div>
<footer>
  <p>&copy; 2024 Health Training. Todos os direitos reservados.</p>
  <div class="footer-links">
    <a href="/about-us">Sobre</a>
    <a href="/terms-of-use">Termos de Uso</a>
    <a href="/support">Suporte</a>
  </div>
</footer>
