<div class="main">
  <br>
  <div id="ordens">
    <div class="div_topo_ordens">
      <h2>Ranking</h2>
      <div class="orders-container">
        
        <!-- Se não houver jogos, mostra a mensagem -->
        <div *ngIf="jogos && jogos.length === 0" class="order-container alinhar_ao_centro">
          <label>O ranking ainda está vazio.</label>
        </div>

        <!-- Iteração sobre os jogos existentes -->
        <div *ngFor="let jogo of jogos; let i = index" class="order-container">
          <a [routerLink]="['/game', jogo.id]" class="id_ordem">Jogo: {{ jogo.id }}</a>

          <div class="order-details">
            <div class="div_detalhes_ordens">
              <label class="titulo_detalhes_ordens">Fase atual:</label>
              <label>{{ jogo.nivelAtual }}</label>
            </div>

            <div class="div_detalhes_ordens">
              <label class="titulo_detalhes_ordens">Descrição da Fase:</label>
              <label>
                <ng-container [ngSwitch]="jogo.nivelAtual">
                  <span *ngSwitchCase="1">Avaliação da ferida</span>
                  <span *ngSwitchCase="2">Tipo de tecido e limpeza da ferida</span>
                  <span *ngSwitchCase="3">Medidas preventivas e tratamento de lesões</span>
                  <span *ngSwitchDefault>Descrição não disponível</span>
                </ng-container>
              </label>
            </div>

            <div class="div_detalhes_ordens">
              <label class="titulo_detalhes_ordens">Usuário:</label>
              <label>{{ jogo.usuarioID }}</label>
            </div>

            <div class="div_detalhes_ordens">
              <label class="titulo_detalhes_ordens">Nome:</label>
              <label>{{ jogo.nomeUsuario }}</label>
            </div>

            <div class="div_detalhes_ordens">
              <label class="titulo_detalhes_ordens">Acertos:</label>
              <label>{{ jogo.numeroAcertos }}</label>
            </div>

            <div class="div_detalhes_ordens">
              <label class="titulo_detalhes_ordens">Erros:</label>
              <label>{{ jogo.numeroErros }}</label>
            </div>

            
            <div class="div_detalhes_ordens">
              <label class="titulo_detalhes_ordens">Pontuaçao:</label>
              <label>{{ jogo.pontuacao }}</label>
            </div>

            <h5 class="data_ordem">{{ jogo.dataDeCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}</h5>

            <div>
              <div [ngClass]="'status status-' + jogo.status.toLocaleLowerCase()">{{ jogo.status }}</div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div id="paginas">
      <button id="pagina_anterior">◄</button>
      <input maxlength="10" id="pagina_atual" value="1">
      <button id="pagina_posterior">►</button>
    </div>
  </div>
</div>
