.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    max-width: 2000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 21px 0px;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.cell:nth-child(5n) {
    border-radius: 0% 80% 0% 0%;
}

.cell:nth-child(11) {
    border-radius: 0% 0% 0% 80%;
}

.cell:nth-child(6) {
    border-radius: 80% 0% 0% 0%;
}

.cell:nth-child(10n) {
    border-radius: 0% 0% 80% 0%;
}

.cell:nth-child(21) {
    border-radius: 0% 0% 0% 80%;
}

.cell:nth-child(16) {
    border-radius: 80% 0% 0% 0%;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: transform 1s ease;
    margin-top: 20px;
}

.dice span {
    display: inline-block;
}

.status {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-left: 0;
    height: auto;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    margin-left: 20px;
}

.status div {
    margin-top: 20px;
}

.status button {
    margin: 5px;
}

.marker {
    position: absolute;
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    background-image: url('/assets/character.png'); /* Caminho para a imagem */
    background-size: cover; /* Faz com que a imagem cubra todo o elemento */
    background-position: center; /* Centraliza a imagem */
    border-radius: 50%; /* Mantém o formato circular, se desejado */
    transition: transform 0.5s ease;
}