.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    max-width: 2000px;
    margin: 0 auto; /* Centraliza horizontalmente */
    min-height: 100vh; /* Garante que o conteúdo esteja centralizado verticalmente */
    padding: 20px;
}

.dashboard {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha ao topo */
    width: 100%;
    flex-direction: row;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 150px); 
    grid-template-rows: repeat(4, 150px);   
    gap: 21px 0px;
    justify-content: center;
    position: relative;
    margin-top: 30px; /* Move o tabuleiro um pouco para cima */
}
  
.cell:nth-child(5n) {
    border-radius: 0% 80% 0% 0%; /* top right bottom left*/
}  

.cell:nth-child(11) {
    border-radius: 0% 0% 0% 80%; /* top right bottom left*/
}  

.cell:nth-child(6) {
    border-radius: 80% 0% 0% 0%; /* top right bottom left*/
}  

.cell:nth-child(10n) {
    border-radius: 0% 0% 80% 0%;
}  

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 150px; /* Ajuste conforme o tamanho das células */
    height: 150px; /* Ajuste conforme o tamanho das células */
    font-size: 1em;
    background-color: #f9f9f9;
    color: #f9f9f9;
}

.dice {
    position: absolute;
    width: 150px; /* Deve corresponder ao tamanho das células */
    height: 150px; /* Deve corresponder ao tamanho das células */
    font-size: 2em;
    transition: transform 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Garante que o dado esteja acima das células */
    pointer-events: none; /* Garante que o dado não interfira com os cliques */
}

.active {
    border: 2px solid #ff0;
}

.status {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-left: 0;
    height: 720px;
    border-radius: 10px;
    width: 300px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Inclui o padding e border no cálculo da largura e altura */
    margin-left: 20px; /* Espaço extra para a direita */
}
