.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    max-width: 2000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(4, 150px);   
    gap: 21px 0px;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
}

.marker {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
    transition: transform 1s ease;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: transform 1s ease;
    margin-top: 20px; /* Espaçamento abaixo do botão */
}

.dice span {
    display: inline-block;
}

.dice.rotate {
    transform: rotate(360deg);
}

.status {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-left: 0;
    height: 720px;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    margin-left: 20px;
}
