
<div class="main">
  <h1>Jogue agora o jogo Health Training, um jogo de tabuleiro dinâmico e educativo! Rode o dado e avance o número de casas de acordo com o resultado. O jogo é dividido em 3 fases: na primeira, você será testado em avaliação de feridas; na segunda, o foco será no tipo de tecido e limpeza da ferida; e, na terceira, em medidas preventivas e tratamento de lesões. Cada fase apresenta perguntas específicas. A cada resposta correta, você ganha 10 pontos, e a cada erro, perde 5. Sua pontuação será registrada no ranking dos melhores jogadores. Jogue agora e veja quem conquista o topo!</h1>
  <p></p>
  <button class="botao_jogar container" (click)="startGame()">Iniciar Jogo</button>
</div>
