<div class="main">
  <h1>Bem-vindo ao Health Training!</h1>
            <p>Descubra uma nova maneira de aprender sobre saúde e procedimentos médicos com nossa plataforma interativa baseada em gamificação.</p>
            <button class="botao_jogar container" (click)="startGame()">Iniciar Jogo</button>
            <section>
              <h2>Por que escolher o Health Training?</h2>
              <p>O Health Training oferece uma abordagem inovadora para o treinamento de profissionais da saúde, combinando elementos de jogos com conteúdo educativo rigoroso. Esta combinação melhora a retenção de conhecimento e a prática de habilidades em um ambiente divertido e envolvente.</p>
          </section>
</div>