.botao_jogar {
  font-size: 23px;
  font-weight: bold;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  background-color: #1c4488;
  box-shadow: 0 4px #173261;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 60px;
  width: 350px;
}

.botao_jogar:hover {
  background-color: #173261;
}

.botao_jogar:active {
  background-color: #173261;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
