<title>Ordens</title>

<div class="main">
  <br>
  <div id="sobre">
    <h2>Quem Somos</h2>
    <div id="quem_somos">
      <img src="assets/logo.png">
      <p>
        O projeto "Health Training" é uma proposta interdisciplinar de 2024 que combina a tecnologia de software e metodologias educacionais médicas para ajudar na capacitação de profissionais de saúde. Utilizando a abordagem de gamificação, o software não apenas envolve os usuários em um processo de aprendizagem mais dinâmico e interativo, mas também incentiva a retenção de informações críticas e a aplicação prática do conhecimento em cenários de saúde reais.
      </p>
    </div>

    <div id="text_missao">
      <h2>Nossa Missão</h2>
    <p>
      Nossa missão é desempenhar um papel importante na capacitação de profissionais da saúde através de uma plataforma educacional que oferece treinamento interativo e envolvente, fundamentado na gamificação. Acreditamos que, ao tornar o aprendizado mais atraente e acessível, podemos melhorar significativamente a eficácia dos treinamentos e a prontidão das equipes para enfrentar desafios do dia a dia em ambientes de saúde.
    </p>
    </div>
    

  </div>

</div>
