<div class="base-form">
    <form class="form mat-elevation-z4" [formGroup]="form" (ngSubmit)="createAccount()">
        <h2 class="text-center">Crie sua conta!</h2>
        <mat-form-field>
            <mat-label>Nome completo</mat-label>
            <input matInput placeholder="Nome completo" formControlName="fullName">

            <mat-error ngIf="form.controls.fullName.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
        @if (form.controls['fullName'].hasError('minlength')) {
        <p class="text-danger">Nome deve ter no mínimo {{fullNameMinChar}} caracteres</p>
        }
        @else if (form.controls['fullName'].hasError('maxlength')) {
        <p class="text-danger">Nome deve ter no máximo {{fullNameMaxChar}} caracteres</p>
        }

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required="">

            <mat-error ngIf="form.controls.email.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
        @if (form.controls['email'].hasError('email')) {
        <p class="text-danger">Email inválido</p>
        }

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Senha" formControlName="password" maxlength="10">

            <mat-error ngIf="form.controls.password.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
        @if (form.controls['password'].hasError('minlength')) {
        <p class="text-danger">Senha deve ter no mínimo {{passwordMinChar}} caracteres</p>
        }
        @else if (form.controls['password'].hasError('maxlength')) {
        <p class="text-danger">Senha deve ter no máximo {{passwordMaxChar}} caracteres</p>
        }

        <mat-form-field>
            <mat-label>Repita a senha</mat-label>
            <input matInput type="password" placeholder="Senha" formControlName="confirmPassword">

            <mat-error ngIf="form.controls.confirmPassword.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
        @if (form.controls['confirmPassword'].hasError('minlength')) {
        <p class="text-danger">Senha deve ter no mínimo {{passwordMinChar}} caracteres</p>
        }
        @else if (form.controls['confirmPassword'].hasError('maxlength')) {
        <p class="text-danger">Senha deve ter no máximo {{passwordMaxChar}} caracteres</p>
        }
        @else if (!arePasswordsValid()) {
        <p class="text-danger">As senhas não são iguais</p>
        }

        <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="!validateFields()">Criar</button>
        </div>

        <hr>
        <div class="mt-4">
            <p>Já possui uma conta? <a href="account/sign-in">Acesse agora mesmo!</a> Só crie a conta se concordar com os termos!</p>
        </div>
    </form>
</div>